<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Home/css/index.css">
    <script src="/Home/js/app.js"></script>
    <title>GTM</title>
</head>
<header>
    <nav>
        <ul class="menu">
        <li class="logo"> <a title="GTM" href="#"><img src="/static/Home/images/logo.png" alt="Los Tejos" /></a></li> 
          <li class="item"><a href="#">Inicio</a></li>
          <li class="item"><a href="http://127.0.0.1:8000/Torneos/">Torneos</a></li>
          <li class="item"><a href="#">Crews</a></li>
          <li class="item"><a href="#">Streaming</a></li>
          <li class="item"><a href="#">Sobre GTM</a></li>
          <li class="item"><a href="#">Contacto</a>
          </li>
          <li class="item button"><a href="#">Log In</a></li>
          <li class="item button secondary"><a href="#">Sign Up</a></li>
          <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
      </nav>
</header>
<body>
    <div class="banner-area">
        <div class="content-area">
              
           <div class="content">
    
              <h1>GTM</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt saepe corporis porro nisi quos blanditiis aspernatur tenetur provident aliquid libero asperiores eveniet, eius enim nihil numquam, velit laboriosam recusandae nulla!</p>
              <button class="btn">Login</button>

           </div>
        </div>
    </div>
    <!-- main -->
    <div class="container">
        <div class="box">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, rem inventore quasi itaque molestiae cupiditate, voluptas, nostrum quisquam atque eius eum beatae eaque ad nulla unde sunt qui consectetur veritatis?
            </p>
        </div>
    </div>
    
</body>
</html>
