<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Torneos/css/index.css">
    <title>GTM</title>
</head>
<body>
    <h1>Torneos Disponibles</h1>
    <div class="container" >
        <div class="card">
            <img src="/static/Torneos/images/fifa.jpeg" alt="">
            <h4>Fifa 2021</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nihil provident maxime praesentium </p>

            <button type="submit">Inscribirme</button>

        </div>

        <div class="card">
            <img src="/static/Torneos/images/gears.webp" alt="">
            <h4>Gears Of War 5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nihil provident maxime praesentium </p>
            <button type="submit">Inscribirme</button>

        </div>

        <div class="card">
            <img src="/static/Torneos/images/warzone.jpg" alt="">
            <h4>CoD Warzone</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nihil provident maxime praesentium </p>
            <button type="submit">Inscribirme</button>

        </div>

        <div class="card">
            <img src="/static/Torneos/images/rocket.jpeg" alt="">
            <h4>Rocket League</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nihil provident maxime praesentium </p>
            <button type="submit">Inscribirme</button>

        </div>
</div>
</body>
</html>